:root{
    --animate-delay: 0.5s;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

body{
    background: rgba(0, 230, 146, 0.08);
    
}

a{
    text-decoration: none;
}

body::-webkit-scrollbar {
    display: none;
  }



.sideNav{
    z-index: 1;
    background: rgba(0, 230, 146, 0.2);
    position: fixed;
    width: 4vw;
    height: 60vh;
    top: 50%;
    transform: translate(0, -50%);

    border-radius: 30em;


    
}

.sideNav p{
    /* C */




font-style: normal;
font-weight: 500;
font-size: 3em;
/* identical to box height, or 42% */


color: #000000;

text-shadow: -0.17em 0.1em 0px #8DE3C3;

text-align: center;
padding-top: 1vw;
}

.sideNav i{
    font-size: 1.9em;
}

.sideNav .option{
    margin-top: 1vw;
    color: #00E692;
    border-right: none;
    height: 2.8em;
    
    display: flex;
    justify-content: center;
   align-items: center;
   cursor: pointer;
   /* animation: fadeIn; */
    
}

.sideNav .option:hover{
    /* animation: fadeIn 1s; */
    transition: all 200ms ease-in-out;
    color: #236B51;
}

.sideNav .option:nth-of-type(1){
    margin-top: 5.5vw;
}

.sideNav .option.active {
    color: #236B51;
    border-right: #236B51 solid 0.3em;
    
}







.lowerNav{
    z-index: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
    background: rgba(0, 230, 146, 0.2);
    position: fixed;
    width: 14vw;
    height: 7.5vh;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);

    border-radius: 30em;
}

.lowerNav i{
    font-size: 1.9em;
}

.contentWrapper{
    /* scroll-snap-type: y mandatory; */
    width: 80vw;
    margin: auto;
    overflow: hidden;
}


/* Content Profile */

.content.profile{
    /* margin-left: 10rem; */
    padding-top: 20vh;
    display: flex;
    /* height: 70vh; */
    margin-bottom: 50vh;
}

.content.profile h1{
    text-shadow: -0.2em 0.1em 0px #8DE3C3;
    font-weight: 500;
    width: 24vw;
    font-size: 7em;
    letter-spacing: 0.1em;
    line-height: 1em;
    margin-top: 0.3em;

}

.content.profile p{
    margin-top: 1vh;
    font-size: 2em;
}

.content.profile h5{
    font-size: 2em;
}


.content.profile p:nth-last-of-type(1){
    color: #236B51;
    margin-top: 1vw;
    font-size: 1.8rem;
    width: 40vw;
}

.rightSide{
    width: 23vw;
    height: 60vh;
    overflow: hidden;
    border-radius: 30px;
    margin-left: 10vw;
    box-shadow: 1em 1.3em 0px #8DE3C3;
}

.rightSide img{
    width: 30vw;
    /* transform: scale(1); */
    object-position: -4em;
}

.leftSide{
    margin-left: 5vw;
}



/* Content Skill */



.content.skill{
    /* background-color: aqua;
    width: 20rem;
    height: 35rem; */
    /* margin-top: 5rem; */
    padding-top: 10vh;
    /* margin-bottom: ; */
    /* padding-bottom: 10rem; */
    /* margin-left: 10rem; */
    
}

.content.skill h1{
    text-shadow: -0.2em 0.1em 0px #8DE3C3;
    font-weight: 500;
    width: 32vw;
    font-size: 5em;
    letter-spacing: 0.1em;
    line-height: 1em;
    margin-left: 5.5vw;
}

.content.skill p{
    color: #236B51;
    margin-top: 3vh;
    font-size: 1.5em;
    width: 45vw;
    margin-left: 5vw;
}

.balls{
 
    width: 60vw;
    height: 80vh;
    margin-left: 13vw;
    overflow: hidden;
    /* padding-bottom: 2rem; */
}

.upperSkill, .lowerSkill{
    display: flex;
    margin-top: 6vh;
}

.upperSkill{
    margin-top: 2vw;
}

.ball img{
    width: 9vw;
    /* object-position: 0 0.5rem; */
    margin-top: 0.7vh;
    /* height: 10rem; */
}




.ball{
    text-align: center;
    width: 10vw;
    height: 10vw;
    overflow: hidden;
    background-color: white;
    border-radius: 6rem;
    box-shadow: 0.5em 0.8em 0px #8DE3C3;
    margin-left: 15em;
}

.ball:nth-of-type(1){
    margin-left: 0;
}

.lowerSkill .ball{
    margin-left: 13vw;
}

.ball.js img{
    transform: scale(0.7);
    /* object-position: 0 0.5rem; */
    /* height: 8rem; */
}

.ball.php img{
    margin-top: 5vh;
}

.ball.mysql img{
    margin-top: 0.9vh;
    /* object-position: center; */
}


/* Custom Animation */

.ball.html{
    --animate-duration: 2s;
}

.content.projects{
    /* padding-bottom: 100vh; */
    margin-top: 5vh;
}

section.project{
    display: flex;
    width: 100vw;
}

.projectLeftSide{
    width: 31vw;
    height: 40vh;
    overflow: hidden;
    border-radius: 30px;
    margin-left: 5rem;
    box-shadow: -5.44783px 8.083px 0px #8DE3C3;
    transition: all 300ms ease-in-out;
    position: relative;
}

.projectLeftSide:hover{

    box-shadow: -12.44783px 15.083px 0px #8DE3C3;
}

.blurLayer{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 230, 146, 0.2);
    transition: all 300ms ease-in-out;
}

.projectLeftSide:hover .blurLayer{
    background-color: rgba(0, 230, 146, 0);
}
.projectLeftSide img{
    /* width: 25rem;
    transform: scale(1.1);
    object-position: 0rem; */
}

.projectRightSide{
    align-self: center;
    margin-left: 5rem;
}

.projects h1{
    text-shadow: -10.44783px 4.083px 0px #8DE3C3;
    font-weight: 500;
    width: 30vw;
    font-size: 3rem;
    letter-spacing: 0.3rem;
    line-height: 5rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
}

.projects p{
    width: 31vw;
}

.projects h2{
    font-size: 2rem;
}

.projects span{
    font-weight: 700;
    color: #00E692;
}

.projectWrapper{
    display: flex;
    position: relative;
}


.project.hide{
    margin-left: -65vw;
    transition: all 200ms ease-out;
}